.container img {
  width: 100%;
  margin: 0 auto;
  height: 223px;
  object-fit: cover;
  border-radius: 25px;

  filter: brightness(70%);

  position: absolute;
}

.container h1 {
  color: white;

  width: 100%;
  margin: 0 auto;

  position: absolute;
  top: 40%;

  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

.container {
  height: 223px;
  margin-bottom: 40px;

  position: relative;
}

@media all and (max-width: 990px) {
}

@media all and (max-width: 750px) {
  .container {
    height: 111px;
  }

  .container img {
    height: 111px;
  }
  .container h1 {
    top: 25%;
    font-size: 24px;
    text-align: start;
    padding: 16px;
  }
}
