.fond,
.fond2 {
  height: 223px;
  background-size: cover;
  background-position: center;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 40px;
}

.fond h1,
.fond2 h1 {
  font-size: 48px;
  color: white;
  margin: 30px;

  overflow-wrap: break-word;
}

@media all and (max-width: 990px) {
  .fond h1,
  .fond2 h1 {
    font-size: 38px;
  }
}

@media all and (max-width: 750px) {
  .fond2 {
    height: 111px;
    justify-content: flex-start;
  }

  .fond h1,
  .fond2 h1 {
    font-size: 24px;
  }
}
