.generalCarrousel {
  position: relative;
  height: 415px;
}

.generalCarrousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.generalCarrousel p {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 50%;

  color: white;
  text-align: center;
  padding: 5px 5px 5px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.prevButton {
  position: absolute;
  z-index: 2;

  height: 415px;
  width: 10%;

  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: none;
}

.nextButton {
  position: absolute;
  z-index: 2;
  right: 0;

  height: 415px;
  width: 10%;

  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: none;
}

.prevButton img,
.nextButton img {
  fill: white;
  height: 80px;
  width: 50px;
}

@media all and (max-width: 750px) {
  .generalCarrousel,
  .prevButton,
  .nextButton {
    height: 255px;
  }

  .prevButton img,
  .nextButton img {
    height: 35px;
    width: 22px;
  }

  .generalCarrousel p {
    display: none;
  }
}
