.pied {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding-top: 50px;
  padding-bottom: 20px;
}

.pied p {
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.vectorimage {
  fill: white;
  height: 18px;
  width: 18px;
}

@media all and (max-width: 750px) {
  .pied p {
    font-size: 12px;
  }

  .vectorimage {
    height: 10px;
    width: 10px;
  }
}
