.homePage {
  width: 90%;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;

  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 50px;
}

.sup {
  width: 100%;
  margin: auto;
  margin-bottom: 70px;
}

.container a {
  width: 27%;
}

@media all and (max-width: 990px) {
  .container {
    flex-direction: column;
  }

  .container a {
    width: 100%;
  }
}

@media all and (max-width: 750px) {
  .container {
    background-color: white;
    padding: 0px;
  }
}
