.globalPage {
  width: 90%;
  margin: auto;

  display: flex;
  flex-direction: column;
}

.split {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin-top: 30px;
  margin-bottom: 30px;
}

.locationGeneral {
  color: #ff6060;
}

.locationGeneral h1 {
  font-size: 36px;
  font-weight: 500;
}

.locationGeneralText {
  font-size: 18px;
  margin-bottom: 20px;
}

.locationProfile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 17%;
}

.rating {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 25px;
}

.rating svg {
  padding-left: 2px;
}

.locationHost {
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
  text-align: end;

  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.locationHost img {
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  height: 64px;
  padding-left: 10px;
}

.doubleCollapse {
  display: flex;
  align-items: flex-start;
  gap: 75px;

  margin-bottom: 40px;
}

@media all and (max-width: 750px) {
  .split {
    flex-direction: column;
  }

  .locationGeneral h1 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .locationGeneralText {
    font-size: 14px;
  }

  .locationProfile {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin-top: 30px;
  }

  .locationProfile div {
    width: 100%;
  }

  .locationHost h2 {
    font-size: 12px;
    text-align: start;
  }

  .rating {
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
  }

  .rating svg {
    height: 15px;
    width: 15px;
  }

  .doubleCollapse {
    flex-direction: column;
    gap: 30px;
  }
}
